/* Text parameters*/

:root{
    --clr-accent-100: hsl(13, 88%, 96%);
    --clr-accent-400: hsl(12, 88%, 59%);
  
    --clr-primary-400: hsl(228, 39%, 23%);
    
    --clr-neutral-100: hsl(233, 12%, 13%);
    --clr-neutral-900: hsl(0, 0%, 0%);
  
    --font-family-primary: 'Be Vietnam Pro', sans-serif;
  
    --font-family-body: var(--font-family-primary);
    --font-family-heading: var(--font-family-primary);
  
    --font-weight-regular: 400; 
    --font-weight-semi-bold: 500; 
    --font-weight-bold: 700; 
  
    --font-size-300: 0.8125rem;
    --font-size-400: 0.875rem;
    --font-size-500: 0.9375rem;
    --font-size-600: 1rem;
    --font-size-700: 1.875rem;
    --font-size-800: 2.5rem;
    --font-size-900: 3.5rem;
  
    --font-size-nav: var(--font-size-500);
    --font-size-body: var(--font-size-400);
    --font-size-button: var(--font-size-300);
    --font-size-primary-heading: var(--font-size-800);
    --font-size-secondary-heading: var(--font-size-700);
  }
  
  @media (min-width: 50em) {
    :root {
      --font-size-nav: var(--font-size-300);
      --font-size-body: var(--font-size-500);
      --font-size-primary-heading: var(--font-size-900);
      --font-size-secondary-heading: var(--font-size-800);
  
    }
  } 

/* Normal text */

.text-primary-400 {
  color: var(--color-primary-400);
}

.text-accent-400 {
  color: var(--color-accent-400);
}

.text-accent-100 {
  color: var(--color-accent-100);
}

.text-neutral-100 {
  color: var(--color-neutral-100);
}

.text-neutral-900 {
  color: var(--color-neutral-900);
}

/* Background text */

.bg-primary-400 {
  background-color: var(--color-primary-400);
}

.bg-accent-400 {
  background-color: var(--color-accent-400);
}

.bg-accent-100 {
  background-color: var(--color-accent-100);
}

.bg-neutral-100 {
  background-color: var(--color-neutral-100);
}

.bg-neutral-900 {
  background-color: var(--color-neutral-900);
}

.font-weight-bold { font-weight: var(--font-weight-bold); }
.font-weight-semi-bold { font-weight: var(--font-weight-semi-bold); }
.font-weight-regular { font-weight: var(--font-weight-regular); }

.font-size-primary-heading {
  font-size: var(--font-size-primary-heading);
}

.font-size-secondary-heading {
  font-size: var(--font-size-secondary-heading);
}

.font-size-300 { font-size: var(--font-size-300); }
.font-size-400 { font-size: var(--font-size-400); }
.font-size-500 { font-size: var(--font-size-500); }
.font-size-600 { font-size: var(--font-size-600); }